
GestionStock/bin/

GestionStock/obj/

GestionStock.Batch1/bin/

GestionStock.Batch1/obj/

GestionStock.Business/bin/

GestionStock.Business/obj/

GestionStock.Database/bin/

GestionStock.Database/obj/

GestionStock.Test/bin/

GestionStock.Test/obj/

packages/

WPFGestionStock/bin/

WPFGestionStock/obj/
